@font-face {
    font-family: "Lato";
    src: url("../../dist/assets/fonts/LatoLatin-Regular.woff") format('woff');
}

@font-face {
    font-family: "Lato";
    src: url("../../dist/assets/fonts/LatoLatinBlack-Regular.woff") format('woff');
    font-weight: 900;
}

@font-face {
    font-family: "Lato";
    src: url("../../dist/assets/fonts/LatoLatinLight-Regular.woff") format('woff');
    font-weight: 300;
}